@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
}


.heading {
    font-family: 'Smooch', cursive;
    padding: 60px;
    font-size: 1.20rem;
}

.heading a {
    color: white;
}

.paying__section {
    margin-top: 3rem;
    background-color: black;
}

.paying__header {
    color: white;
    text-align: center;
    font-size: x-large;
}

.paying__paragraph {
    font-size: small;
    color: #989898;
    padding-top: 0.5rem;
} 

/* BOXES */

.paying__box {
    background-color: #212121;
    color: white;
    border: #1e1c1c 5px solid;
    border-radius: 20px;
    height: 35rem;
    width: 26rem;
    padding: 20px;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
}

.paying__container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.test {
    color: #ff4545;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: sans-serif;
}   

.paying__box {
    display: flex;
    justify-content: space-between;
}

button {
    width: 100%;
    height: 200%;
    background-color: #ff4545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn3 {
    color: white;
    border: #ff4545 solid 1px;
    background-color: transparent;
}

.testing-div {
    margin-bottom: 1rem;
}

/* NOTE SECTION */

.note__section {
    margin-top: 4rem;
}

.note__heading {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 4rem;
    font-size: 2rem;
}

.note__paragraph {
    color: white;
    padding: 2rem 2rem;
    max-width: 80ch; 
    font-family: 'Poppins', sans-serif;
}

.warning {
    border: #ff4545 solid 2px; 
    border-radius: 10px;
    margin: 0 4rem;
    height: 175vh;
}

.cyprus-map {
    max-width: 60%;
}

.price_btn {
    width: 20%;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}

.hr {
    border: none;
    background-color: grey;
    height: 1px;
}

.highlight {
    color: white;
}

.lock {
    height: 0.8rem;
    width: auto;
    fill: white;
}

/* Footer */

.footer_hr {
border: none;
    background-color: white;
    height: 2px;
    margin-top: 5rem;
}

.footer {
    font-family: 'Smooch', cursive;
    color: white;
    padding: 60px;
    font-size: 1.20rem;
}

.footer p{
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer li{
    list-style-type: none;
    display: flex;   
}

/* Media Queries  */

@media (max-width: 1280px) {
    .paying__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .paying__box {
        height: 32rem;
        width: 24rem;
        padding: 15px;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-size: 0.7rem;
    }

    .test {
        font-size: 2.5rem;
    }   

    .warning {
        margin: 0 4rem;
        height: 195vh;
    }
}

@media (max-width: 1183px) {
    .box3 {
        margin: 0;
    }
}

@media (max-width: 1024px) {

    .paying__box {
        height: 32rem;
        width: 24rem;
        padding: 15px;
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
    }

    .test {
        font-size: 2rem;
    }   

    .warning {
        height: 195vh;
    }
}

@media (max-width: 850px) {

    .paying__header {
        font-size: large;
    }

    .paying__box {
        height: 28rem;
        width: 20rem;
        padding: 10px;
        display: flex;
        flex-direction: column;
        font-size: 0.7rem;
    }

    .warning {
        height: 195vh;
    }


}

@media (max-width: 680px) {

    .heading,
    .footer {
        font-size: medium;
        padding: 20px;
    }

    .paying__header {
        font-size: medium;
    }

    .paying__box {
        height: 24rem;
        width: 16rem;
        padding: 10px;
        display: flex;
        flex-direction: column;
        font-size: 0.6rem;
    }

    .test {
        font-size: 1.5rem;
    }   

    .warning {
        height: 195vh;
    }

}

@media (max-width: 590px) {


    .paying__box {
        height: 28rem;
        width: 20rem;
        padding: 10px;
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
    }

    .box2,
    .box3 {
        margin: 0;
    }

    .test {
        font-size: 1.8rem;
    }   

    .warning {
        height: 195vh;
    }

    .note__heading {
        padding: 1rem 4rem;
        font-size: 1.5rem;
    }
    
    .note__paragraph {
        padding: 2rem 2rem;
        max-width: 80ch; 
        font-size: small;
    }
}

@media (max-width: 440px) {

    .warning {
        height: 195vh;
        margin: 0 1.5rem;
    }

    .note__heading {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
    
    .note__paragraph {
        padding: 1rem 1rem;
        max-width: 80ch; 
        font-size: small;
    }

    .paying__header {
        font-size: small;
    }

    .paying__paragraph {
        font-size: xx-small;
    }
}

