@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.dropdown { 
    display: inline-block; 
    position: relative; 
} 


.menu {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .menu {
    display: block;
}

.menu a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}









body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between;
}

.img_logo {
    padding: 60px;
    max-width: 50%;
}

.footer {
    font-family: 'Smooch', cursive;
    color: white;
    padding: 60px;
    font-size: 1.20rem;
}

.nav a{
    color: white;
    fill: white;
    list-style-type: none;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
}

.nav li{
    display: inline-block;
    padding: 80px 50px 0 0 ;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.img {
    max-width: 20%;
    border-radius: 10px;
}

.more{
    font-family: 'Poppins', sans-serif;
    height: 3cm;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: x-large;
    text-transform: uppercase;
    color: white
}

.more a{
    color: rgba(255, 255, 255, 0.23); 
    font-size: medium;   
}

.box{
    margin-top: 2.5cm;
    background-color: white;
    height: 90vh;
}

.box p{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12cm;
}

#talk a{
    position: absolute;
    color:black;
    font-size: medium;
    top: 45cm;
}

.box a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.box a:hover::before{
    transform: scaleX(1);
}


.footer p{
    font-family: 'Poppins', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer li{
    list-style-type: none;
    display: flex;   
}

/* Gear Section */

.heading__equip {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 4rem;
    padding: 50px 0 80px 60px;
}

.container {
    display: flex;
    height: 80vh;
}

.gear__img {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    gap: 2rem;
}

.images__2 {
    max-width: 40%;
    border-radius: 5px;
}

.gear__info {
    padding-right: 30px;


}
.gear__text {
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 120ch;
}

.text1 {
    padding-bottom: 2rem;
}

/* MEDIA QUERIES */

@media (max-width: 1280px) {
    #talk a {
        top: 42cm;
    }

    .container {
        height: 110vh;
    }
}

@media (max-width: 1024px) {
    #talk a {
        top: 34cm;
    }

    .box {
        height: 60vh;
    }

    .box p {
        font-size: x-large;
        height: 8cm;
    }
}

@media (max-width: 900px) {
    .container {
        display: block;
        justify-content: center;
    }

    .box {
        height: 100vh;
    }

    .gear__info {
        padding: 30px;
    }

    .container {
        height: 160vh;
    }

    .img_logo {
        padding: 60px;
        max-width: 45%;
    }

    .nav li {
        padding: 4.5rem 0.7rem 0 0;
    }

    .nav {
        padding-right: 3rem;
    }
}

@media (max-width: 768px) {
    #talk a {
        top: 45cm;
        font-size: x-small;
    }

    .box {
        height: 80vh;
    }

    .box p {
        font-size: larger;
        height: 8cm;
    }

    .img {
        max-width: 30%;
    }

    .nav a {
        font-size: large;
    }    

    .nav li {
        padding: 4.5rem 1rem 0 0;
    }

    .nav {
        padding-right: 1.5rem;
    }

    .img_logo {
        margin-bottom: 2rem;
        max-width: 70%;
    }

    .heading {
        width: 16rem;
    }
}

@media (max-width: 640px) {

    .footer {
        padding: 30px;
    }

    .img_logo {
        padding: 40px 0 0 25px;
        max-width: 50%;
    }

    .heading {
        width: 12rem;
    }

    .nav a {
        font-size: medium;
    }

    .nav li {
        padding: 60px 25px 0 0;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
    }

    .img {
        max-width: 40%;
    }

    #talk a {
        top: 60cm;
        font-size: small;
    }

    .box p {
        font-size: larger;
        max-width: 30ch;
        height: 8cm;
        margin:0 auto;
    }
}

@media (max-width: 475px) {

    .heading {
        width: 8rem;
    }

    .img_logo {
        max-width: 80%;
        padding: 25px 0 0 25px;

    }

    .nav {
        text-align: center;
        padding-top: 25px;
    }

    .nav li {
        display: block;
        padding: 10px 20px 0 0;
    }

    .box {
        height: 80vh;
    }

    #talk a {
        top: 50cm;
        font-size: small;
    }

    .heading__equip {
        font-size: 2.5rem;
        padding: 20px;
    }

    .footer {
        font-size: small;
        padding: 20px;
    }
}

@media (max-width: 410px) {
    #talk a {
        top: 44cm;
        font-size: x-small;
    }

    .container {
        height: 170vh;
    }
}
    

