@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
    height: 100%;
}

.heading{
    font-family: 'Smooch', cursive;
    padding: 60px;
    font-size: larger;
    display: flex;
}

.heading a {
    color: white;
}

.section__success{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins, sans-serif;
}

.success__heading {
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    .heading {
        padding: 30px;
    }
}

@media (max-width: 640px) {
    .heading {
        padding: 30px;
    }
}

@media (max-width: 475px) {

    .heading {
        font-size: medium;
        padding: 20px;
    }

    .success__heading {
        font-size: medium;
    }
}